
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
  <ul class="carousel-indicators">
      {% for image in prod_images %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" class="active"></li>
      {% endfor %}
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    {% for image in prod_images %}
      <div class="carousel-item active">
        <img src="{{image}}" alt="first_img" width="300" height="500">
      </div>
    {% endfor %}

      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    </div>
  </div>


</div>