html
{
    margin: 0  auto;
    height: auto;
}
body
{
    margin-left: 5%;
    margin-right: 5%;
}
.navbar
{
    background-color: #EBD1CB;
    font-family: "Times New Roman", Times, serif;
}
a
{
    color:black;
    text-decoration: None;
}
footer
{
    clear: both;
}
.list-content
{
    margin-top: 25px;
    background-color: #d9d9d9;
}
.filters
{
    width: 15%;
    height: 100%;
    float: left;
    text-align: left;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.filters ul
{
    list-style-type: None;
    text-align: left;
}
.filter-button
{
    text-align: left;
}
.product-list
{
    width:85%;
    float: right
}

.product-list-item
{
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: auto;
    float: left;
    text-align:center;
    width: 280px;
    height: 250px;
}
.product-image
{
    position:relative;
    width:100%;
    height:100%;
}
.product-text
{
    text-align:justify;
    position: relative;
}

