{% extends 'web_shop/base.html' %}
{% block content %}
    {% if is_supervisor %}
    <div class="float-right mt-3">
        <a href="{% url 'crm:upload_image' product.id %}"><button>Add Image</button></a>
        <a href="{% url 'crm:edit_availability' product.id %}"><button>Change Avalability</button></a>
    </div>
    {% endif %}
    <div class="mt-5">
        <div class="float-left ml-4 mr-5">
            {% include 'products/includes/product_image_slider.html' %}
        </div>
        <div class="card mt-5">
            <h1>{{product}}</h1>
            <div>
                {{product.description}}
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="float-right mt-3">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{product_form}}
                    <input type="submit" value="Dodaj do koszyka" class="btn btn-success">
                </form>
            </div>
        {% else %}
            <div class="float-right mt-3">
                <h2>Musisz być zalogowany aby dodać produkt do koszyka</h2>
            </div>
        {% endif %}


    </div>

{% endblock %}