{% extends 'web_shop/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if is_supervisor %}
    <div class="float-right mt-3">
    <a href="{% url 'crm:add_product' %}">
        <button>Dodaj Produkt</button>
    </a>
    </div>
{% endif %}
<div class="list-content">
    <div>
        <div class="filters">
        <form method="get" action="">
            <hr>
            {{filter_form|crispy}}
            <div class="float-right mr-5 mt-2">
                <input type="submit" value="Filtruj" class="btn-light">
            </div>

        </form>
    </div>

        <div class="product-list">
            {% for product in products%}
                <span class="container">
                    <a href="{% url 'products:product-detail' product.product.id %}">
                        {% include 'products/includes/product_box.html' %}
                    </a>
                </span>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card">
    {% if products.has_previous %}
        <li><a href="{% url 'products:products' category_type products.previous_page_number%}" class="float-left">&laquo; PREV </a></li>
    {% endif %}
    {% if products.has_next %}
        <li><a href="{% url 'products:products' category_type products.next_page_number%}" class="float-right"> NEXT &raquo;</a></li>
   {% endif %}
</div>


{% endblock %}