<html>
    <head>
        <meta charset="UTF-8">
        <title>Sklep</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% bootstrap_messages %}
        <link rel="stylesheet" type="text/css" href="{% static 'web_shop/style.css' %}">
    </head>

    <body>
    <div class="container">

        <div class="float-left custom-control-inline">

        </div>
    </div>

        <div class="navbar">
            <div class="float-left">
                 <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Nowości</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'products:products' 'cloth' 1 %}" class="nav-link">Odzież</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'products:products' 'other' 1 %}" class="nav-link">Akcesoria i Dodatki</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customer_profile:contact' %}" class="nav-link">Kontakt</a>
                </li>
            </ul>

            </div>
            <div div="float-right">
                <div class="float-right custom-control-inline">
                   {% if user.is_authenticated %}
                        <a href="{% url 'shopping_cart:shopping-cart' %}" class="float-right">
                                <img src="{% static 'icons/shopping_cart.png' %}" alt="Koszyk" width="50" height="50">
                        </a>
                        <a href="{% url 'customer_profile:profile' %}" class="nav-link">Mój Profil</a>
                        <a href="{% url 'customer_profile:logout' %}" class="nav-link">Wyloguj</a>
                    {% else %}
                        <a href="{% url 'customer_profile:login' %}" class="nav-link">Zaloguj</a>
                        <a href="{% url 'customer_profile:register' %}" class="nav-link">Rejestracja</a>
                    {% endif %}
                </div>
            </div>

        </div>

    {% block content %}

    {% endblock %}

        <footer class="container">

        </footer>
    </body>
</html>